body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-bg: #fff;
  --secondary-bg: #F8F8F8;

  --text-primary: #21334F;
  --text-secondary:#C4C4C4;
  --text-prompt: #FB8500;
  --text-prompt-bg: #fb860033;
  --text-success: #34A853;
  --text-success-bg: #34a85338;
}
