body {
  font-family: "Manrope";
  background-color: #f5f5f5;
  margin: 0; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 80px 140px;
  width: auto;
  max-width: 100%; 
  text-align: center; 
}


/* .vector {
    height: 72px;
    width: 90px;
}

button {
    width: 204px;    
} */
