
p, h1, h2, h3, h4 {
  font-family: "Inter";
}


.ft-bg-custom {
  background-color: #1D2939 !important;
}

/* Change the color of NavLink */
.navbar-nav .nav-link {
  color: #012A4A;
  font-family: "Inter";
}

.navbar-nav .nav-link.active {
  color: #FB8500 !important;
  font-weight: 600;
  font-family: "Inter";
}

.navbar-nav .nav-link:hover {
  color: #FB8500;
}


/* buttons */
.btn {
  padding: 16px, 24px, 16px, 24px !important;
  color: #ffffff !important;
  font-family: "Inter";
}
.btn-warning {
  background-color: #FB8500 !important;
}

.btn:hover{
  color: #FB8500 !important;
  background-color: #ffffff !important;
}