@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600&display=swap");

.text-wrapper {
  font-family: "Inter-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  border-bottom: 0px;
}

.create {
  color: #fb8500;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.Login-H4 {
  color: #012a4a;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
}

.text-wrapper-6 {
  color: #4285f4;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: 24px;
  padding-top: 10px;
}

.left-login {
  /* background-color: wheat; */
  display: flex;
  justify-content: right;
  align-items: center;
  /* margin-right: 100px; */
}

.logoholder-login {
  display: flex;
  color: #1a1a1a;
  font-family: "Inter-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
}

.left-login img {
  /* height: 100%; */
}
.right-login {
  /* background-color: greenyellow; */
  margin-left: 50px;
}
.right-login .content-login {
  gap: 40px;
}

.elements-login {
  gap: 20px;
}
.wrapper-login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  width: 100%;
  /* background-color: red; */
}

.holder-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitting {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  background-color: #fb8500;
  color: #fff;
  padding: 15px 0;
  margin-top: 10px;
}
.submitting:hover {
  width: 100%;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  background-color: #f3b46c;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
