.passwordverification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 160px 80px 160px;

  /* gap: 32px; */
}

.verify {
  outline: none;
  border: none;
  margin-top: 0px;
  background-color: #fb8500;
  padding: 12px 0;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  width: 100%;
}

.mytext {
  text-align: center;
}

.holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 339px; 
   height: 462px;
}
