.location-search-input{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 2px solid rgb(58, 57, 57);
    border-radius: 8px;
  }
  .autocomplete-container{
    position: relative;
    z-index: 1;
  }
  .suggestion-item--active{
    background-color: rgb(95, 121, 235);
  }

  .suggestion-item, .suggestion-item--active {
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
    padding: 5px 0 0 5px;
  }
  .suggestion-item{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: #fff;
  }
  
  .autocomplete-dropdown-container{
    width: 100%;
    margin-top: 4px;
    border-radius: 5px;
    position: absolute;
    z-index: 5;
  }

/* Loading Function */
.holderprocess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 3;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
